.ChatListsContainer {
  background-color: #66347f;
  width: 28%;
  height: 100%;
  padding: 15px 0 0 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
  .chit-chat {
    color: #ffffff;
    padding: 0 15px;
  }
  .bottom {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0px 10px;
    .input-search {
      width: 100%;
      input {
        width: 100%;
        padding: 13px 15px;
        border-radius: 3px;
        border: none;
        outline: none;
        box-shadow: 0px 0px 3px rgb(34, 20, 20);
        &::-webkit-input-placeholder {
          color: #66347f;
         }
      }
    }

    .chatLists {
      overflow-y: auto;
      display: flex;
      flex-direction: column;
      gap: 3px;

      .users {
        padding: 16px 12px;
        display: flex;
        gap: 20px;
        align-items: center;
        text-decoration: none;
        border: 1px dotted #9e4784;
        border-radius: 3px;

        .user-name {
          width: 80%;

          .name {
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: yellowgreen;

            .user {
              color: rgb(225, 237, 242);
            }

            b {
              color: rgb(59, 46, 1);
            }

            .chat-time {
              font-size: 12px;
            }
          }

          .last-chat {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .lastMsg {
              font-size: 13px;
              display: -webkit-box;
              -webkit-line-clamp: 1;
              -webkit-box-orient: vertical;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: normal;
              color: #d27685;
            }
            .lastMsgTime {
              font-size: 10px;
              color: #d27685;
            }
          }
        }

        &:hover {
          background-color: #9e4784;
          cursor: pointer;
        }
      }
    }
  }
}
