@mixin flex-property {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navigationContainer {
  width: 6%;
  height: 100%;
  background-color: #37306b;
  gap: 30px;
  padding: 20px 0;
  @include flex-property;

  .top {
    border: 2px dotted #d27685;
    border-radius: 100%;
  }

  .bottom {
    @include flex-property;
    gap: 40px;
    cursor: pointer;
  }
  .top,
  .bottom {
    text-decoration: none;
  }
}
