.me {
  align-self: flex-end;
  background-color: #d1e7ff;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 7px;
  border-top-left-radius: 7px;

  b {
    font-size: 9px;
    align-self: flex-end;
  }
}

.me,
.you {
  padding: 10px 12px;
  display: flex;
  gap: 4px;

  &:nth-child(1) {
    border-radius: 3px;
    text-align: justify;
    max-width: 40%;
    box-shadow: -1px 2px 0px #d4d4d4;
  }

  .time {
    font-size: 9px;
    align-self: flex-end;
  }
}

.me {
  align-self: flex-end;
  background-color: #d1e7ff;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 7px;
  border-top-left-radius: 7px;

  b {
    font-size: 9px;
    align-self: flex-end;
  }
}

.you {
  border-top-right-radius: 7px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 7px;
  align-self: flex-start;
  background-color: #f1f1f1;
}
