.authentication-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #66347f;
  .container {
    background-color: #37306b;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    min-height: 50%;
    padding: 25px 35px;
    border-radius: 3px;
    gap: 25px;

    input {
      width: 100%;
      padding: 10px 15px;
      border-radius: 3px;
      border: none;
      background-color: #66347f;
      color: #d27685;
    }

    h1,
    a {
      color: #d27685;
    }
  }
}
