//--- Image property =>

@mixin img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@mixin h2 {
  padding: 10px 0;
  text-align: center;
  background-color: #adefd1;
}

//--- Flex property =>
@mixin flex-property {
  display: flex;
  flex-direction: column;
  align-items: center;
}

// ---------------------------- >>>
.dashboard-container {
  display: flex;
  width: 100vw;
  height: 100vh;

  .dashboard-left-container {
    width: 6%;
    height: 100%;
    background-color: #adefd1ff;
    gap: 30px;
    padding: 20px 0;
    @include flex-property;

    .left-top-container {
      @include flex-property;

      .profile-image {
        width: 50px;
        height: 50px;
        border-radius: 100%;
        overflow: hidden;
        box-shadow: 0px 0px 3px black;

        img {
          @include img;
        }
      }
    }

    .nav-icons {
      @include flex-property;
      gap: 40px;
      cursor: pointer;

    }
  }

  .dashboard-right-container {
    display: flex;
    gap: 10px;
    width: 94%;
    height: 100%;
    padding: 10px;

    .left-container {
      background-color: rgb(110, 67, 67);
      width: 28%;
      height: 100%;
      border-radius: 5px;
      padding: 18px 0 0 0;
      display: flex;
      flex-direction: column;
      gap: 10px;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
      .chit-chat {
        color: #ffffff;
        padding: 0 20px;
      }

      .input-search {
        width: 100%;
        padding: 0 20px;

        input {
          width: 100%;
          padding: 10px 15px;
          border-radius: 20px;
          border: none;
          outline: none;
          box-shadow: 0px 0px 3px rgb(34, 20, 20);
        }
      }

      .chat-lists {
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        gap: 3px;
        padding: 6px 0;

        .users {
          padding: 6px 20px;
          display: flex;
          gap: 20px;
          align-items: center;

          .users-profile {
            width: 40px;
            height: 40px;
            border-radius: 100%;
            overflow: hidden;
            padding: 3px;

            img {
              object-fit: cover;
              width: 100%;
              height: 100%;
              border-radius: 100%;
            }
          }

          .user-name {
            width: 80%;

            .name {
              display: flex;
              justify-content: space-between;
              align-items: center;
              color: yellowgreen;

              .user {
                color: rgb(225, 237, 242);
              }

              b {
                color: rgb(59, 46, 1);
              }

              .chat-time {
                font-size: 12px;
              }
            }

            .last-chat {
              font-size: 12px;
            }
          }

          &:hover {
            background-color: #adefd143;
            cursor: pointer;
          }
        }
      }
    }

    .right-container {
      width: 72%;
      height: 100%;

      .pages {
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        width: 100%;
        height: 100%;
      }
    }
  }
}

.chat-lists::-webkit-scrollbar {
  display: none;
}