@mixin imageStyle {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

// Null notification page =>
.null-notification-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 14px;

    b,
    p {
        font-size: 20px;
    }
}

//  notification page =>
.notification-container {
    width: 100%;
    height: 90%;
    overflow-y: auto;

    .notification-data {
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 12px 57px;
        justify-content: space-between;

        .notification-part-1 {
            display: flex;
            align-items: center;
            gap: 13px;

            .notification-left {
                width: 50px;
                height: 50px;
                border-radius: 100%;
                overflow: hidden;

                img {
                    @include imageStyle;
                }
            }

            .notification-mid {

                .sender,
                div {
                    padding: 0;
                    font-size: 13px;
                }
            }
        }

        .notification-right {
            display: flex;
            gap: 10px;
            flex-direction: column;
            align-items: center;

            .notification-time {
                font-size: 10px;
                color: rgba(0, 0, 0, 0.507);
            }

            img {
                cursor: pointer;
            }
        }

    }
}