.toast-container {
  position: absolute;
  right: 10px;
  top: 40px;
  color: black;
  width: fit-content;
  font-size: 15px;
  background-color: white;
  padding: 6px 14px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
